@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Moderustic:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  transition: background-color 0.5s ease-in-out;
}

:root {
  --bg-sunny: linear-gradient(180deg, #0059d5da 0%, #79ebff8c 100%);
  --bg-night: linear-gradient(180deg, #1b2141 0%, #bb96ca 100%);
  --bg-rainy: linear-gradient(
    180deg,
    rgba(82, 97, 107, 0.47) 0%,
    rgba(62, 74, 89, 0.8) 100%
  );
  --bg-cloudy: linear-gradient(
    180deg,
    rgba(201, 231, 254, 0.48) 0%,
    rgba(148, 163, 184, 0.8) 100%
  );
  --bg-snowy: linear-gradient(180deg, #f7f7f7 0%, #e1f3ff 100%);
  --bg-thunderstorm: linear-gradient(
    180deg,
    rgba(54, 54, 76, 0.72) 0%,
    #1e2025 100%
  );
}

@keyframes lightning-flash {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@layer utilities {
  .bg-sunny {
    background-image: var(--bg-sunny);
  }
  .bg-night {
    background-image: var(--bg-night);
  }
  .bg-rainy {
    background-image: var(--bg-rainy);
  }
  .bg-cloudy {
    background-image: var(--bg-cloudy);
  }
  .bg-snowy {
    background-image: var(--bg-snowy);
  }
  .bg-thunderstorm {
    background-image: var(--bg-thunderstorm);
  }
  .star {
    @apply absolute rounded-full bg-white;
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
  }
  .shadow-snow {
    box-shadow: 0 4px 4px 0 rgb(126, 204, 235);
  }

  .animate-lightning {
    animation: lightning-flash 5s linear infinite;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}
